#navInnerContainer {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#categoryAndUlDiv {
    display: flex;
    align-items: center;
}

#categorySpan {
    height: 35px;
    margin-top: 5px;
    padding: 5px 10px;
    display: "inline-block";
    color: #222222;
    background-color: #fff;
    line-height: 20px;


    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    font-weight: 600;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #222222;
    box-sizing: border-box;


}

#categoryIcon {
    content: url('../assets/images/categoriesIcon.png');
    margin-right: 5px;
    width: 14px;
    height: 14.5px;
}

#navInnerContainer ul li {
    display: inline-block;
}

#navUl li a {
    padding: 8px 9px;
    margin: 5px 0 5px 4px;
    color: #fff;
    border-radius: 16px;
    border: transparent 1px solid;
    text-decoration: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#navUl li a:hover,
#navUl2 li a:hover {

    border: solid 1px white;

}

#navUl2 li a {
    padding: 8px 9px;
    margin: 5px 0 5px 4px;
    color: #fff;
    border-radius: 16px;
    border: transparent 1px solid;
    text-decoration: none;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

#eMagInfoIcon {
    content: url('../assets/images/headphonesIcon.png');
    padding-right: 5px;
    padding-bottom: 0px;
    margin-left: 0px;
    margin-bottom: -5px;
}