#section9MainWrapper {
    height: 100%;
    box-sizing: border-box;
}

#section9InnerWrapper {
    padding: 10px 0px;
    width: 100%;

    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
}

#gradientDiv {
    width: 100%;
    height: 240px;
    background-image: linear-gradient(to right, #ff1d25 5%, #a0328c 35%, #7040a4 45%, #4359c7 55%, #0082e6 70%);
    position: relative;
    display: flex;

    align-items: flex-start;
    justify-content: flex-end;


}

#imgDivImg {
    width: 400px;
    height: 261px;
    position: absolute;
    bottom: 0;
    left: 0;

}

#formDiv {
    width: 710px;
    height: 140px;
    display: flex;
    flex-flow: column;

    margin-top: 24px;
    margin-right: 50px;

    box-sizing: border-box;

}

#formDiv h3 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #ffffff;

    font-weight: 600;
    font-size: 32px;
    letter-spacing: 1px;



}

#formDiv p {
    font-size: 12px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #ffffff;
    padding-top: 10px;
    margin-bottom: 10px;

}

#formDiv form {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

#formDiv form input {
    font-size: 12px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    width: 223px;
    height: 32px;
    padding: 5px 10px;
    box-sizing: border-box;
    border-radius: 15px;
    border: none;
}

#submitBtn {
    background-color: #ef2809;
    color: #fff;
    font-size: 12px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#submitBtn:hover {
    color: #fff;
    background-color: #be2007;
    border-color: #be2007;
}


#nameInput:focus,
#emailInput:focus {

    outline: none;

}